@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(http://fonts.googleapis.com/css?family=Wire+One);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200|Yanone+Kaffeesatz:400,200);
/*general */
*
{
	font-family: 'Pathway Gothic One', sans-serif;
	color :white;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Wire One', sans-serif;
	text-align: center;
	color : #848484;

}

p
{
	font-family: 'Wire One', sans-serif;
	font-size : 20px;
	text-align : left;
	color : #4f4f4f;
}


img
{
	width : 100%;
}

body
{
/*	background-image: url("http://i3.minus.com/iNvF8gTKMe8fh.jpg");
	background-position: center;
	background-attachment: fixed;*/
	background-color : #f4f4f2;
	padding-top : 50px;
}

/*navbar*/
@media(min-width : 900px){
	.navbar .container .navbar-collapse .nav li
	{
		display: table-cell;
	  	vertical-align: middle;
	  	text-align: center;
	  	font-size: 15px; 		
	}
	
}

@media(min-width : 1050px){
	#header_logo
	{
		height : 25px;
	}
	body
	{
		padding-top: 70px;
	}

	.navbar
	{
		height : 70px;
	}

	.navbar-default
	{
		background : rgba(255,255,255,0.95);
		box-shadow : none;
		border : none;
	}

	.navbar .container
	{
		height : 70px;
	}

	.navbar .container .navbar-collapse
	{
		height : 70px!important;
		font-size : 20px;
	}

	.navbar .container .navbar-collapse .nav
	{
		height : 70px!important;
		display: table;
  		padding:10px;
	}

	.navbar .container .navbar-collapse .nav li
	{
		display: table-cell;
	  	vertical-align: middle;
	  	text-align: center;
	  	font-size: 23px; 		
	}
	
}

a:hover
{
	text-decoration: none;
}

/*flash cards*/
.flash_card_parent
{
	padding : 10px;
}

.flash_card
{
	background-color : white;
	transition : box-shadow 0.5s;
	-webskit-transition : box-shadow 0.5s ;

}

.flash_card:hover
{
	box-shadow : 10px 10px 5px #828282;
	cursor : pointer;
}

.flash_card_title
{
	font-size : 60px;
	color : #848484;
}

.flash_card_content
{
	color : #4f4f4f;
	font-size : 40px;
	text-align : center;
}


/*mini_button*/

/*separator*/
.separator
{
	height : 5px;
	margin-top: 60px;
	margin-bottom: 30px;
	background-color : rgba(0,0,0,0.3);
}

/*opportunity*/
.opportunity_title
{
	font-family : 'Wire One', sans-serif;
	color : #0123aa;
	font-weight: 500;
	font-size : 50px;
	text-align : right;
}

#why
{
	color : #5b5b5b;
	font-family: 'Pathway Gothic One';
	font-size : 20px;
}

/*endorsements*/


/*footer */
#footer
{
	background-color : #444444;
}

#footer_text
{
	color : #bfbfbf;
}

.history_text
{
	color :white;
	text-align: center;
	font-family: 'Pathway Gothic One';
	font-size : 30px;
}

.history
{
	padding-top: 70px;
	padding-bottom: 70px;
}

/*the team*/
.facemash_parent
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}