@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(http://fonts.googleapis.com/css?family=Wire+One);
@import url(http://fonts.googleapis.com/css?family=Alef:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
/*general */
*
{
	font-family: 'Pathway Gothic One', sans-serif;
	color :white;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Wire One', sans-serif;
	text-align: center;
	color : #848484;

}

p
{
	font-family: 'Wire One', sans-serif;
	font-size : 20px;
	text-align : left;
	color : #4f4f4f;
}


img
{
	width : 100%;
}

body
{
/*	background-image: url("http://i3.minus.com/iNvF8gTKMe8fh.jpg");
	background-position: center;
	background-attachment: fixed;*/
	background-color : #f4f4f2;
	padding-top : 50px;
}

.normal_font
{
	font-family: 'Pathway Gothic One';
	font-size : 20px;
	padding-left: 10px;
	padding-right: 10px;
}

/*navbar*/
@media(min-width : 900px){
	.navbar .container .navbar-collapse .nav li
	{
		display: table-cell;
	  	vertical-align: middle;
	  	text-align: center;
	  	font-size: 15px; 		
	}
	
}

@media(min-width : 1050px){
	#header_logo
	{
		height : 25px;
	}
	body
	{
		padding-top: 70px;
	}

	.navbar
	{
		height : 70px;
	}

	.navbar-default
	{
		background : rgba(255,255,255,0.40);
		box-shadow : none;
		border : none;
	}

	.navbar .container
	{
		height : 70px;
	}

	.navbar .container .navbar-collapse
	{
		height : 70px!important;
		font-size : 20px;
	}

	.navbar .container .navbar-collapse .nav
	{
		height : 70px!important;
		display: table;
  		padding:10px;
	}

	.navbar .container .navbar-collapse .nav li
	{
		display: table-cell;
	  	vertical-align: middle;
	  	text-align: center;
	  	font-size: 23px; 		
	}
	
}

a:hover
{
	text-decoration: none;
}

/*mini_button*/
.mini_button
{
	border : 3px solid white;
	opacity : 1.0;
	width : 180px;
	position : absolute;
	top : 80%;
	transition : opacity 0.5s;
	-webskit-transition : opacity 0.5s ;
}

.mini_button:hover
{
	opacity : 1.0;
	cursor : pointer;
}

.mini_button_internal
{

	color : white;
	text-align : center; 
	line-height : 25px;
	font-family: "Open Sans" , sans-serif;
	font-size : 20px;
	margin-top: 10px;
}


/*flash cards*/
.flash_card_parent
{
	padding : 10px;
}

.flash_card
{
	background-color : white;
	transition : box-shadow 0.5s;
	-webskit-transition : box-shadow 0.5s ;

}

.flash_card:hover
{
	box-shadow : 10px 10px 5px #828282;
	cursor : pointer;
}

.flash_card_title
{
	font-size : 60px;
	color : #848484;
}

.flash_card_content
{
	color : #4f4f4f;
	font-size : 40px;
	text-align : center;
}


/*separator*/
.separator
{
	height : 5px;
	margin-top: 60px;
	margin-bottom: 30px;
	background-color : rgba(0,0,0,0.3);
}

/*opportunity*/
.opportunity_title
{
	font-family: 'Open Sans', sans-serif;
	color : #0123aa;
	font-weight: 500;
	font-size : 30px;
	text-align : right;
}

#why
{
	color : #5b5b5b;
	font-family: 'Pathway Gothic One';
	font-size : 20px;
}

/*micro details*/
.thumbnail_image
{
	width : 50%;
	margin:auto;
}

#header
{
	height : 600px;
	background-image: url('./img/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*endorsements*/


/*footer */
#footer
{
	background-color : #444444;
}

#footer_text
{
	color : #bfbfbf;
}

.history_text
{
	color :white;
	text-align: center;
	font-family: 'Pathway Gothic One';
	font-size : 30px;
}

.history
{
	padding-top: 70px;
	padding-bottom: 70px;
}

.history_pic
{
	-webkit-filter: grayscale(80%) contrast(120%);
	border : solid 4px rgba(255,255,255,0.4);
}

/*the team*/
.facemash_parent
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.facemash_picture
{
	-webkit-filter: grayscale(100%) contrast(150%) sepia(80%);
}

.member_description
{
	position : absolute;
	background-color: rgba(0,0,0, 0.8);
	width : 100%;
	height: 100%;
	display: none;
	top : 0px;
	left : 0px;
	padding : 10px;
	overflow: hidden;
}

.member_name
{
	color : white;
	font-size : 60px;
	border-bottom : 1px solid white;
}

.member_position
{
	color : white;
	opacity : 0.8;
	font-family: "Open Sans",sans-serif;
	font-size : 15px;
	text-align: center;
}

.member_story
{
	color : white;
	font-size : 16px;
	text-align: left;
	font-family: "Pathway Gothic One",sans-serif;
}